<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'cajachicaApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'cajachicaApp/css/gestion.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'cajachicaApp/img/icono.ico' %}">
    <title>Caja Chica y Gastos </title>
</head>

<body>

    <h3 class="site-heading text-center text-black d-none d-lg-block">
        <span class="site-heading-lower">CAJA CHICA Y GASTOS</span>
    </h3>

    <div align="right" style="color:white;"> 
      <a href="/autenticacion/login/" style="color:black;"> Login </a> / <a href="/autenticacion/register/" style="color:black;"> Registrase</a>
    </div>
     <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark  bg-primary py-lg-4" id="mainNav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{% static 'cajachicaApp/img/Caja_mediano.png' %}"></a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item {% if request.path == '/servicios/' %}active{% endif %} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="">CARGAR FACTURA</a>
                </li>
                <li class="nav-item {% if request.path == '/tienda/' %}active{% endif %} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="">REPORTES</a>
                </li>
              </ul>
          </div>
        </div>
    </nav>


   <!-- Contenido cambiante-->
   {% block content %}


   {% endblock %}


    <!-- Footer -->
    <footer class="footer text-faded text-center  bg-primary py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> ·
        	<a href="sample.html" class="link">Aviso legal</a> <!--·-->
        	<!--<a href="sample.html" class="link">Cookies</a>-->
		</p>
        <p class="m-0 mbt1">&copy; Caja Popular de Ahorros</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'cajachicaApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'cajachicaApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>