<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Caja Chica</title>
</head>
<body>
    
    
    <div class="container">
        <h3> Tabla Sectores </h3>
        <div class="row">
            {% for sector in sectores %}
                <div class="col-12 border"><strong>{{sector.sector}}</strong></div>
                <div class="row">
                    <div class="col-3 border" style="background-color: #EBEBEB;">FECHA</div>
                    <div class="col-3 border" style="background-color: #EBEBEB;">MONTO ASIGNADO</div>
                    <div class="col-3 border" style="background-color: #EBEBEB;">RENDIDO</div>
                    <div class="col-3 border" style="background-color: #EBEBEB;">EN CAJA</div>

                    {% for caja in cajashabilitadas %}
                        {% ifequal  caja.codsector sector.codsector %}
                            <div class="col-3 border">{{caja.fechacajachica|date:"d/m/Y"}}</div>
                            <div class="col-3 border">{{caja.montoasignado|floatformat:2}}</div>
                            <div class="col-3 border">{{caja.rendido|floatformat:2}}</div>
                            <div class="col-3 border">{{caja.encaja|floatformat:2}}</div>
                        {% endifequal %}
                    {% endfor %}
                </div>
            {% endfor %} 



        </div>
    </div>

 
</body>
</html>